body {
    margin: 0;
    min-height: 100vh;
    background-color: #ffc0cb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 26px;
}

h1 {
    color: #b0005a;
    margin-bottom: 20px;
}

img {
    max-width: 300px;
    border-radius: 15px;
    margin-bottom: 25px;
}

.buttons {
    margin-top:10px;
}

button {
    padding: 12px 30px;
    font-size: 26px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.yes {
    background-color: #ff4d88;
    color: white;
    margin-right: 10px;
    font-size: 26px;
}

.no {
    background-color: #ffffff;
    color: #ff4d88;
    font-size: 26px;
}

button:hover {
    opacity: 0.85;

}

